.user-icon {
    width: 32px;
    height: 32px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 20px 0 0;
}

.sun-moon-icon {
    height: 20px;
    width: 20px;
}

.dark-mode-icon {
    display: flex;
    margin: 0 30px 0 0;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 36px;
    color: black;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.logo {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: black;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar ul .link {
    margin: 0 12px;
    cursor: pointer;
    position: relative;
    color: black;
    font-weight: bold;
    transition: 0.4s all;
}

.navbar ul .link::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: gold;
    transition: 0.4s all;
}

.navbar ul .link:hover::after {
    width: 100%;
}

.link-active {
    margin: 0 12px;
    cursor: pointer;
    position: relative;
    color: black;
    font-weight: bold;
}

.link-active::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: gold;
    transition: 0.4s all;
}

.logout {
    display: flex;
    align-items: center;
}

.btn-red {
    background-color: crimson;
    color: #fff;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    border: 2px solid crimson;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s all;
}

.btn-red:hover {
    background-color: transparent;
    color: crimson;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid crimson;
}

.btn-red-disable {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #966670;
  color: #fff;
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  border: 2px solid #966670;
  font-size: 16px;
  transition: 0.3s all;
  opacity: 0.65;
}

.btn-blue {
    background-color: gold;
    color: #fff;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s all;
    border: 2px solid gold;
}

.btn-blue:hover {
    background-color: transparent;
    color: gold;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s all;
    border: 2px solid gold;
}

.btn-blue-disable {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #b89d40;
  /* a duller shade of gold */
  color: #fff;
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  border: 2px solid #b89d40;
  font-size: 16px;
  transition: 0.3s all;
  opacity: 0.65;
}